.texturina-body {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

body{
    background-color: #cfd1c6cd;
    background-image: url(../public/assets/images/bck2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #cfd1c6cd;
    margin: 0px;
    font-family: "Texturina", serif;
}
header{
    background-color: #163C3C;
    padding-top: 10px;
}
nav{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
main{
    margin: 20px;
    font-size: 20px;
}
.title{
    text-align: center;
    color: #64682f;
}
table, th, td {
    border: 1px solid #f1fffa8f;
}
 table {
    width: 100%;
    background-color: #163C3C;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #f1fffa8f;
}

input{
    background-color: #35586E;
    color: #cfd1c6cd;
}
#tag, #gfata, #lflta, #ita, #eta {
    border: 0px;
}
.btns1_4, #e_btn5, #e_btnplus, #i_btn5{
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: #6F732F;
    color: #7f8432;
}
a:hover{
    color: #A27035;
    color: #a26f3597;
}
.flinks{
    display: flex;
}

