.texturina-body {
  font-family: "Texturina", serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

body{
    background-color: #cfd1c6cd;
    background-color: rgb(71, 71, 71);
    /* background-image: url(../public/assets/images/bck2.png); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: #cfd1c6cd;
    margin: 0px;
    font-family: "Texturina", serif;
}
header{
    background-color: #163C3C;
    padding-top: 10px;
}
nav{
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 3vw;
}
.nav-link{
    padding: 1vw;;
}
main{
    margin: 20px;
    font-size: 20px;
}
.title{
    text-align: center;
    color: #64682f;
    color: #64682f85;
    color: #928c86;
    color: #7f8432;
    color: #7f8432c0;
}
table, th, td {
    border: 1px solid #f1fffa8f;
}
 table {
    width: 100%;
    background-color: #163C3C;
    border-radius: 10px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #f1fffa8f;
}

input{
    background-color: #35586E;
    color: #cfd1c6cd;
}
#tag, #gfata, #lflta, #ita, #eta {
    border: 0px;
}
.btns1_4, #e_btn5, #e_btnplus, #i_btn5{
    margin-left: 8px;
}
a{
    text-decoration: none;
    color: #6F732F;
    color: #7f8432;
}
a:hover{
    color: #A27035;
    color: #a26f3597;
    color: #cfd1c6cd;
    color: #928c86;
}
.flinks{
    display: flex;
}




#widget-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 20vw;
    gap: 2vw;
    grid-template-areas: 
        "widget2 widget1 widget1 widget3"
        "widget2 widget4 widget5 widget6"
        "widget7 widget7 widget5 widget6"
        "widget8 widget8 widget5 widget6"
        "widget9 widget9 widget9 widget6";
}

.widgets{
    background-color: black;
    background-color: #163C3C;
    padding: 2vw;
    border-radius: 2vw;
    text-align: center;
    align-content: center;
}
